# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
bullet-*.tar

# Temporary files, for example, from tests.
/tmp/

# Dialyzer PLTs
/priv/plts/*.plt
/priv/plts/*.plt.hash


    - name: Install dependencies
       mix deps.get
    #   if: steps.cache-deps.outputs.cache-hit != 'true'
    #   run: |
    #     mix deps.get
    #     mix deps.compile

    # - name: Check for unused dependencies
    #   run: mix deps.get && mix deps.unlock --check-unused

    - name: Restore cached PLTs
      uses: actions/cache@v3
      id: plt_cache
      with:
        key: |
          ${{ runner.os }}-${{ matrix.elixir }}-${{ matrix.erlang }}-plt
        restore-keys: |
          ${{ runner.os }}-${{ matrix.elixir }}-${{ matrix.erlang }}-plt
        path: |
          priv/plts

    # Create PLTs if no cached PLTs were found
    - name: Create PLTs
      if: steps.plt_cache.outputs.cache-hit != 'true'
      run:  mix dialyzer --plt
    - name: Run dialyzer
      run: mix dialyzer
